{% extends 'base.html' %}

{% block style %}
<style>
.content
{
	margin-top: 10px;
	margin-bottom: 100px;
	margin-right: 50px;
	margin-left: 50px;

}
h1
{
    text-align:center;
    text-decoration:overline;
}

</style>
{% endblock %}

{% block title %}
    <h1>Login</h1>
{% endblock %}

{% block content %}

<div class="content" align="center">
    <p>- Input your username and password -</p>
    <br>
    <form class="form-horizontal" action="." method="post">{% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}

