{% extends 'base_main.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
<link rel="stylesheet" href="../../static/main/css/book_seat.css">
{% endblock %}


{% block ext_js %}
    {{ block.super }}
<script src="../../static/main/js/book_seat.js"></script>
{% endblock %}


{% block header %}
    <div class="banner">
        <div class="header">
            <div class="container">
                <div class="header-left">
                    <div class="w3layouts-logo">
                        <h1>
                            <a href="{% url 'center:homepage' %}"><span>SJTU</span> 图书馆预约 </a>
                        </h1>
                    </div>
                </div>
                <div class="header-right">
{#                    <div class="w3-header-top">#}
{#                        <ul>#}
{#                            <li><i class="fa fa-envelope" aria-hidden="true"></i> : <a href="mailto:info@example.com">lzh1633856298@gmail.com</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
                    <div class="w3-header-bottom">
                        <div class="top-nav">
                            <nav class="navbar navbar-default">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                            data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        <li><a href="{% url 'center:homepage' %}">主页</a></li>
                                        <li class=""><a class="active" href="#"
                                                        class="dropdown-toggle hvr-bounce-to-bottom"
                                                        data-toggle="dropdown" role="button" aria-haspopup="true"
                                                        aria-expanded="false">预约<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a class="hvr-bounce-to-bottom" href="{% url 'book:book_seat' %}">座位预约</a></li>
                                                <li><a class="hvr-bounce-to-bottom" href="{% url 'book:book_record' %}">预约记录</a></li>
                                                <li><a class="hvr-bounce-to-bottom" href="{% url 'book:book_cancel' %}">取消预约</a></li>
                                            </ul>
                                        </li>
                                        <li><a href={% url 'center:personal_center' %}>个人中心</a></li>
                                        <li><a href={% url 'account:logout' %}>退出</a></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </nav>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
<!-- Main -->
<div id="main">
	<!-- Post -->
	<div class="post">
		<h1>座位预约</h1>
		<form action="#" method="post">
			<fieldset>
			<legend>Please choose the floor:</legend>
				<label for="FirstFloor" class="floor"><input type="checkbox" id="FirstFloor" name="FirstFloor"> 1 </label>
				<label for="SecondFloor" class="floor"><input type="checkbox" id="SecondFloor" name="SecondFloor"> 2 </label>
				<label for="ThirdFloor" class="floor"><input type="checkbox" id="ThirdFloor" name="ThirdFloor"> 3 </label>
				<label for="FourthFloor" class="floor"><input type="checkbox" id="FourthFloor" name="FourthFloor"> 4 </label>
				<label for="FifthFloor" class="floor"><input type="checkbox" id="FifthFloor" name="FifthFloor"> 5 </label>
			<legend>Please choose the zone</legend>
				<label><input type="radio" id="zone" name="zone" value="quiet" aria-required="true" onChange="Selected(this)"> 安静区 </label>
				<label><input type="radio" id="zone" name="zone" value="noisy" aria-required="true" onChange="Selected(this)"> 非安静区 </label>
			</br>
			<div id="quietmore" style="display: none;">
				<legend>Please choose the study hall</legend>
					<label for="a" class="study_hall"><input type="checkbox" id="a" name="a"> A </label>
					<label for="b" class="study_hall"><input type="checkbox" id="b" name="b"> B </label>
					<label for="c" class="study_hall"><input type="checkbox" id="c" name="c"> C </label>
				<legend>请选择卓子类型</legend>
					<label for="OnePerson" class="sortQ"><input type="checkbox" id="OnePerson" name="OnePerson"> 单人 </label>
					<label for="FourPeopleQ" class="sortQ"><input type="checkbox" id="FourPeopleQ" name="FourPeopleQ"> 四个人 </label>
					<label for="ManyPeople" class="sortQ"><input type="checkbox" id="ManyPeople" name="ManyPeople"> 多人 </label>
				<legend>请选择卓子号</legend>
					<select name="tableQ">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
			</div>
			<div id=noisymore" style="display: none;">
				<legend>请选择卓子类型</legend>
					<label for="TwoPeople" class="sortN"><input type="checkbox" id="TwoPeople" name="TwoPeople"> 两个人 </label>
					<label for="FourPeopleN" class="sortN"><input type="checkbox" id="FourPeopleN" name="FourPeopleN"> 四个人 </label>
				<legend>请选择卓子号</legend>
					<select name="tableN">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
			</div>
			</br>
			<p><input type="submit" value="Submit">
			<input type="reset" value="Reset"></p>
			</fieldset>
		</form>
	</div>
</div>

{% endblock %}
