{% extends 'base_main.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="../../static/main/css/book_seat.css">
{% endblock %}


{% block ext_js %}
    {{ block.super }}
    <script src="../../static/main/js/book_seat.js"></script>
{% endblock %}


{% block header %}
    <div class="banner">
        <div class="header">
            <div class="container">
                <div class="header-left">
                    <div class="w3layouts-logo">
                        <h1>
                            <a href="{% url 'center:homepage' %}"><span>SJTU</span> 图书馆预约 </a>
                        </h1>
                    </div>
                </div>
                <div class="header-right">
                    {#                    <div class="w3-header-top">#}
                    {#                        <ul>#}
                    {#                            <li><i class="fa fa-envelope" aria-hidden="true"></i> : <a href="mailto:info@example.com">lzh1633856298@gmail.com</a>#}
                    {#                            </li>#}
                    {#                        </ul>#}
                    {#                    </div>#}
                    <div class="w3-header-bottom">
                        <div class="top-nav">
                            <nav class="navbar navbar-default">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                            data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        <li><a href="{% url 'center:homepage' %}">主页</a></li>
                                        <li class=""><a class="active" href="#"
                                                        class="dropdown-toggle hvr-bounce-to-bottom"
                                                        data-toggle="dropdown" role="button" aria-haspopup="true"
                                                        aria-expanded="false">预约<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a class="hvr-bounce-to-bottom" href="{% url 'book:book_seat' %}">座位预约</a></li>
                                                <li><a class="hvr-bounce-to-bottom" href="{% url 'book:book_record' %}">预约记录</a></li>
{#                                                <li><a class="hvr-bounce-to-bottom" href="{% url 'book:book_cancel' %}">取消预约</a></li>#}
                                            </ul>
                                        </li>
                                        <li><a href={% url 'center:personal_center' %}>个人中心</a></li>
                                        <li><a href={% url 'account:logout' %}>退出</a></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </nav>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <!-- Main -->
    <div id="main">
        <!-- Post -->
        <div class="post">
            <h1>座位预约</h1>
            <form action="{% url 'book:book_seat' %}" method="post">

                {% csrf_token %}

                <fieldset>
                    {#    选择日期以及时间段    #}
                    <legend>请选择日期以及时间段</legend>
                    <label>
                        <select id="day" name="day" onchange="reset_time()">
                            {% for day in days %}
                                <option>{{ day }}</option>
                            {% endfor %}
                        </select>
                        <select id="time_choice" name="time_choice"></select>
                        <script language="javascript" type="text/javascript">
                            function reset_time() {
                                $("#time_choice").empty();
                                var ById = document.getElementById("day");
                                var day=ById.options[ById.selectedIndex].text;
                                if (day == "{{ today }}") {
                                    if ({{ present_hour }} < 8) document.getElementById("time_choice").add(new Option("8:00-11:00"));
                                    if ({{ present_hour }} < 13) document.getElementById("time_choice").add(new Option("13:00-17:00"));
                                    if ({{ present_hour }} < 18) document.getElementById("time_choice").add(new Option("18:00-21:00"));
                                }
                                else {
                                    document.getElementById("time_choice").add(new Option("8:00-11:00"));
                                    document.getElementById("time_choice").add(new Option("13:00-17:00"));
                                    document.getElementById("time_choice").add(new Option("18:00-21:00"));
                                }
                            }
                            if(document.attachEvent)
                                window.attachEvent("onload", reset_time);
                            else
                                window.addEventListener('load', reset_time, false);
                        </script>
                    </label>

                    {#    选择区域    #}
                    <legend>请选择 安静区/非安静区</legend>
                    <label><input type="radio" id="zone" name="zone" value="quiet_or_noisy" aria-required="true"
                                  onChange="Selected(this)"> 安静区/非安静区 </label>
                    <label><input type="radio" id="zone" name="zone" value="quiet" aria-required="true"
                                  onChange="Selected(this)"> 安静区 </label>
                    <label><input type="radio" id="zone" name="zone" value="noisy" aria-required="true"
                                  onChange="Selected(this)"> 非安静区 </label>
                    <label><input type="radio" id="zone" name="zone" value="auto_book" aria-required="true"
                                  onChange="Selected(this)"> 随机选座 </label>
                    {#    安静区    #}
                    <div id="quietmore" style="display: none;">
                        {#    选择floor    #}
                        <legend>安静区-请选择楼层</legend>
                        <label>
                            <select name="floor_q">
                                <option>all</option>
                                <option>F1</option>
                                <option>F2</option>
                                <option>F3</option>
                                <option>F4</option>
                                <option>F5</option>
                            </select>
                        </label>
                        <legend>安静区-请选择区域</legend>
                        <label>
                            <select name="area_q">
                                <option>all</option>
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                            </select>
                        </label>
                        <legend>安静区-请选择桌子类型</legend>
                        <label>
                            <select name="table_type_q">
                                <option>all</option>
                                <option>单人桌</option>
                                <option>双人桌</option>
                                <option>四人桌</option>
                            </select>
                        </label>
                        <legend>安静区-是否需要电源插座</legend>
                        <label>
                            <select name="has_power_q">
                                <option>all</option>
                                <option>yes</option>
                                <option>no</option>
                            </select>
                        </label>
                    </div>

                    {#    非安静区    #}
                    <div id="noisymore" style="display: none;">
                        {#    选择floor    #}
                        <legend>非安静区-请选择楼层</legend>
                        <label>
                            <select name="floor_n">
                                <option>all</option>
                                <option>F1</option>
                                <option>F2</option>
                                <option>F3</option>
                                <option>F4</option>
                                <option>F5</option>
                            </select>
                        </label>
                        <legend>非安静区-请选择桌子类型</legend>
                        <label>
                            <select name="table_type_n">
                                <option>all</option>
                                <option>单人桌</option>
                                <option>双人桌</option>
                                <option>四人桌</option>
                            </select>
                        </label>
                    </div>
                    <p><input type="submit" value="Submit"></p>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="text-center"><h1>座位选择</h1></div>
    <div class="text-center">
        <table class="table table-bordered" align="center" style="max-width: 800px;">
            <thead>
            <th width="15%" style="text-align:center">日期</th>
            <th width="15%" style="text-align:center">时间</th>
            <th width="15%" style="text-align:center">是否安静区</th>
            <th width="10%" style="text-align:center">楼层</th>
            <th wdith="10%" style="text-align:center">区域</th>
            <th wdith="10%" style="text-align:center">桌子类型</th>
            <th wdith="10%" style="text-align:center">有无电源</th>
            <th wdith="10%" style="text-align:center">位置</th>
            <th wdith="10%" style="text-align:center">预约</th>
            </thead>
            <tbody>
            {% for seat_q in seats_q %}
                <tr>
                    <td><span>{{ day }}</span></td>
                    <td><span>{{ time_choice }}</span></td>
                    <td><span>是</span></td>
                    <td><span>{{ seat_q.floor }}</span></td>
                    <td><span>{{ seat_q.area }}</span></td>
                    <td><span>{{ seat_q.table_type }}</span></td>
                    <td>
                        <span>
                            {% if seat_q.has_power %}
                                是
                            {% else %}
                                否
                            {% endif %}
                        </span>
                    </td>
                    <td><span>{{ seat_q.table_position_quiet }}</span></td>
                    <td><span><a href="{% url 'book:book_success' table_id=seat_q.id time_id=time_choice date=day %}" onclick="return confirm('Are you sure?')">预约</a></span></td>
                </tr>
            {% endfor %}
            {% for seat_n in seats_n %}
                <tr>
                    <td><span>{{ day }}</span></td>
                    <td><span>{{ time_choice }}</span></td>
                    <td><span>否</span></td>
                    <td><span>{{ seat_n.floor }}</span></td>
                    <td><span>不适用</span></td>
                    <td><span>{{ seat_n.table_type }}</span></td>
                    <td><span>不适用</span></td>
                    <td><span>{{ seat_n.table_position_noisy }}</span></td>
                    <td><span><a href="{% url 'book:book_success' table_id=seat_n.id time_id=time_choice date=day %}" onclick="return confirm('Are you sure?')">预约</a></span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}