{% extends 'base_main.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="../../static/main/css/personal_center.css">
{% endblock %}


{% block ext_js %}
    {{ block.super }}
{% endblock %}

{% block title %}
    个人中心
{% endblock %}

{% block header %}
    <div class="banner">
        <div class="header">
            <div class="container">
                <div class="header-left">
                    <div class="w3layouts-logo">
                        <h1>
                            <a href="{% url 'center:homepage' %}"><span>SJTU</span> 图书馆预约 </a>
                        </h1>
                    </div>
                </div>
                <div class="header-right">
                    <div class="w3-header-bottom">
                        <div class="top-nav">
                            <nav class="navbar navbar-default">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                            data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        <li><a href="{% url 'center:homepage' %}">主页</a></li>
                                        <li class=""><a href="#" class="dropdown-toggle hvr-bounce-to-bottom"
                                                        data-toggle="dropdown" role="button" aria-haspopup="true"
                                                        aria-expanded="false">预约<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a class="hvr-bounce-to-bottom" href="{% url 'book:book_seat' %}">座位预约</a>
                                                </li>
                                                <li><a class="hvr-bounce-to-bottom" href="{% url 'book:book_record' %}">预约记录</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a class="active" href={% url 'center:personal_center' %}>个人中心</a></li>
                                        <li><a href={% url 'account:logout' %}>退出</a></li>

                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </nav>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <script src="/static/js/jquery.js"></script>
    <script type="text/javascript">
        $(function () {
            //选项卡切换
            $('.category ul li').click(function () {
                indexC = $(this).index();
                $(this).addClass('active').siblings().removeClass('active');
                $('.cont').eq(indexC).addClass('active').siblings().removeClass('active');
            })
        })
    </script>


    <div class="panel panel-default" style="width:100%;">
        <div class="background0" style="height:300px;width:100%;list-style: none">
            <form method="post" enctype="multipart/form-data" action="{% url 'center:personal_center' %}">
                {% csrf_token %}
                <li>
                    <div style="width:20%;float:left;">
                        <div style="width:100px;height:100px;border-radius:75px;overflow:hidden;margin-left:150px;margin-top:100px;margin-bottom:80px;">
                            <img src="{{ icon }} " width="100px" height="100px">
                        </div>
                    </div>
                    <div style="width:80%;float:left;margin-top:80px;">
                        <h2>{{ name }}</h2>
                        <div class="form-group">
                            <input required style="float:left;clear:left;" name="icon" type="file" id="icon_input">
                        </div>
                        <button style="float:left;width:100px;height:30px;clear:left;margin-top:5px;" type="submit"
                                class="btn btn-success btn-block">上传头像
                        </button>
                    </div>
                </li>
            </form>
        </div>
    </div>

    <br>
    <br>

    <div class="container">
        <div class="category">
            <ul>
                <li class="active">基本信息</li>
                <li>信誉积分</li>
                <li>密码重置</li>
            </ul>
        </div>
        <div class="cont active">
            <ul>
                <li>
                    <div class="cont_main">
                        <h3 class="title">姓名</h3>
                        <p class="desc">{{ name }}</p>
                        <h3 class="title">电话</h3>
                        <p class="desc">{{ phone_number }}</p>
                        <h3 class="title">邮箱</h3>
                        <p class="desc">{{ mailbox }}</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cont">
            <ul>
                <li>
                    <div class="cont_main">
                        <h3 class="title">信誉积分</h3>
                        <p class="desc">{{ credit }}分</p>
                        {% ifequal credit 0 %}
                            <p class="desc">{{ msg }}</p>
                        {% endifequal %}
                    </div>
                </li>
            </ul>
        </div>
        <div class="cont">
            <ul>
                <li>
                    <br>
                    <div class="cont_main">
                        <a class="desc" href='{% url "password_reset_recover" %}'>单击此处重置密码</a>
                    </div>
                    <br>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <br>

{% endblock %}
