{% extends 'base_main.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <style type="text/css">
        .nav-pills {
            width: 50px;
        }

        .nav-pills.affix-top {
            top: 10px;
            position: absolute;
        }

        .nav-pills.affix {
            top: 100px;
        }
    </style>
{% endblock %}


{% block ext_js %}
    {{ block.super }}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
{% endblock %}


{% block header %}
    <div class="banner">
        <div class="header">
            <div class="container">
                <div class="header-left">
                    <div class="w3layouts-logo">
                        <h1>
                            <a href="{% url 'center:homepage' %}"><span>SJTU</span> 图书馆预约 </a>
                        </h1>
                    </div>
                </div>
                <div class="header-right">
{#                    <div class="w3-header-top">#}
{#                        <ul>#}
{#                            <li><i class="fa fa-envelope" aria-hidden="true"></i> : <a href="mailto:info@example.com">lzh1633856298@gmail.com</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
                    <div class="w3-header-bottom">
                        <div class="top-nav">
                            <nav class="navbar navbar-default">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                            data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        <li><a  href="{% url 'center:homepage' %}">主页</a></li>
                                        <li class=""><a href="#" class="dropdown-toggle hvr-bounce-to-bottom"
                                                        data-toggle="dropdown" role="button" aria-haspopup="true"
                                                        aria-expanded="false">预约<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a class="hvr-bounce-to-bottom" href="{% url 'book:book_seat' %}">座位预约</a></li>
                                                <li><a class="hvr-bounce-to-bottom" href="{% url 'book:book_record' %}">预约记录</a></li>
                                                <li><a class="hvr-bounce-to-bottom" href="{% url 'book:book_cancel' %}">取消预约</a></ul>
                                        </li>
                                        <li><a class="active" href={% url 'center:personal_center' %}>个人中心</a></li>
                                        <li><a href={% url 'account:logout' %}>退出</a></li>

                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </nav>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-3" id="myScrollspy">
                <ul id="myAffix" class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="150">
                    <li class="active"><a href="#section-1">基本信息</a></li>
                    <li><a href="#section-2">预约记录</a></li>
                    <li><a href="#section-3">不良记录</a></li>
                </ul>
            </div>
            <div class="col-xs-9">
                <h3 id="section-1">基本信息</h3>
                <ol style="list-style: none">
                    <li>
                        <div style="width:100px;height:100px;border-radius:50px;overflow:hidden;">
                            <img src="{{ icon }} " width="100px" height="100px">
                        </div>
                    </li>
                    <li>姓名：{{ name }}</li>
                    <li>学号：{{ student_number }}</li>
                    <li>电话：{{ phone_number }}</li>
                    <li>邮箱：{{ mailbox }}</li>
                    <li>个人简介：<p style="text-indent:2em">{{ introduction }}</p></li>
                </ol>

                <hr>
                <h2 id="section-2">预约记录</h2>
                <h3>暂无</h3>
                <hr>
                <h2 id="section-3">不良记录</h2>
                <h4>信誉积分：{{ credit }}分</h4>

                <hr>
            </div>
        </div>
    </div>

{% endblock %}
