.content
{
    margin: 10px 550px 100px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 10px 10px 5px #203643;
}

h1
{
    margin: 20px;
    text-align:center;
    text-decoration:overline;
    text-shadow: 5px 5px 5px #c0c0c0;
}

p.ex1
{
	font:italic bold 12px/30px Georgia,serif;
}
body {
    background-image: url("/static/image/background.jpg");
    background-position: center center;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size:100%;

}
