{% extends 'base.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}

{% endblock %}

{% block ext_js %}
    {{ block.super }}

{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="container">
            <div class="agile-footer-grids">
                <div class="col-md-4 agile-footer-grid">
                    <h4 class="text-left">Contact Us</h4>
                    <p class="text-left" style="color:black">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true">
                            ：中国上海市闵行区东川路800号 200240
                        </span>
                        <span class="glyphicon glyphicon-earphone" aria-hidden="true">
                            ：021-34206188
                        </span>
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true">
                            ：libhome@lib.sjtu.edu.cn
                        </span>
                    </p>
                </div>
                <div class="col-md-4 agile-footer-grid">
                    <h4 class="text-left">Developer</h4>
                    <p class="text-left">
                        <p style="color:black">
                        范佳妮、陆正昊、陈瀚嵩、吴嘉豪、顾晓然、
                        <span>
                            于凯泽、ARAY SEITESH、THANATHIP LIU
                        </span>
                        </p>
                    </p>
                </div>
                <div class="col-md-4 agile-footer-grid">
                    <h4 class="text-left"> Navigation</h4>
                    <ul>
                        <li class="text-left"><a href="{% url 'center:homepage' %}">主页</a></li>
                        <li class="text-left"><a href="{% url 'book:book_seat' %}">座位预约</a></li>
                        <li class="text-left"><a href="{% url 'book:book_record' %}">预约记录</a></li>
                        <li class="text-left"><a href="{% url 'center:personal_center' %}">个人中心</a></li>
                        <li class="text-left"><a href="{% url 'account:logout' %}">退出</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <a href="#" id="toTop" style="display: inline;"><span id="toTopHover"></span>To Top</a>
{% endblock %}
